// Required
@import "ember-bootstrap/bootstrap";
@import "ember-bootstrap/functions";
@import "ember-bootstrap/variables";
@import "ember-bootstrap/mixins";

// Optional - Bootstrapping/Resetting
@import "ember-bootstrap/root";
@import "ember-bootstrap/print";
@import "ember-bootstrap/reboot";

// Optional - Everything else
@import "ember-bootstrap/type";
@import "ember-bootstrap/buttons";

body, html {
  background-color: #F8F9FA;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}

form {
  margin-top: 3em;

  input {
    width: 100%;
  }
}

.application{
  margin-bottom: 64px;
}

.navbar-nav {
  flex-direction: row;

  .nav-link {
    text-align: center;
    margin: 0 12px;

    &:hover a {
      color: #007BFF;
    }
  }
}

.spacing {
  padding-top: 18px;
  margin-top: 24px;
}
