<nav class="col-md-12 navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Lazy Checkin</a>
  <div class="navbar-nav">
    {{#link-to "about" class="nav-item nav-link"}}About{{/link-to}}
    {{#link-to "new" class="nav-item nav-link"}}New{{/link-to}}
    <a
      class="nav-item nav-link"
      href="https://github.com/jwu910/lazy-checkin"
    >
      {{fa-icon "github" class="fa-2x"}}
    </a>
  </div>
</nav>
<div class="container-fluid application">
  {{outlet}}
</div>