<div class="index justify-content-center row spacing">
  <div class="col-md-8 col-sm-12">
    <h3>Welcome to Lazy Checkin</h3>
    <p>Currently only servicing Southwest Airlines. Automatically check in for your flight 24 hours prior.</p>
    <p>To get started, press the link below for a new lazy checkin.</p>

    {{#link-to "new" class="btn btn-primary"}}Get Started{{/link-to}}
  </div>
</div>
{{outlet}}